<form action='@Url.Action("Comenzar")' method="get" class="container">
    <h1 class="text-white">Dificultad <span>(Dejar vacío para mezclar todas)</span></h1>
    <div class="row justify-content-center">
        @foreach (Dificultad d in ViewBag.dificultades)
        {
            <input type="radio" name="dif" id="@d.Nombre" class="configInputs" value="@d.IdDificultad" />
            <label for="@d.Nombre" class="configLabels col button">@d.Nombre</label>
        }
    </div>
    <h1 class="text-white">Categoría <span>(Dejar vacío para mezclar todas)</span></h1>
    <div class="row justify-content-center">
        @foreach (Categoria c in ViewBag.categorias)
        {
            <input type="radio" name="cat" id="@c.Nombre" class="configInputs" value="@c.IdCategoria" />
            <label for="@c.Nombre" class="configLabels col button">
                @if (c.Foto == null)
                {
                    @c.Nombre
                }
                else
                {
                    <img src="@c.Foto" href="" />
                }
            </label>
        }
    </div>
    <div class="row justify-content-center">
        <div class="input-group mb-3 w-25">
            <span class="input-group-text" id="basic-addon1">&commat;</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" required id="username" name="username">
        </div>
    </div>
    <input type="submit" value="Jugar!" class="button">
</form>
<script>
    document.querySelectorAll('input[type="radio"]').forEach(t => {
        t.addEventListener("click", e => {
            e.preventDefault()
            setTimeout(() => {
                t.checked = !t.checked
            }, 0)
        })
    })
</script>